.container{
    min-width: 100vh;
    min-height: calc(100vh - 2rem);
    position: relative;

    background-image: url('../../assets/rick_morty.jpg');
    /* background-size: 80rem 40rem; */
    background-size: 210vh 100vh;
    background-repeat: no-repeat;
}

.presentation{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

.presentation p{
    font-weight: 900;
}